@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Noto+Serif:wght@700&family=PT+Serif:ital@1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://images.pexels.com/photos/1845829/pexels-photo-1845829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat:round;
}

nav {
  background-color: rgb(0, 0, 0);
  color: rgb(247, 123, 101);
  height: 45px;
  font-size: 25px;
  display: flex;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 15px;
}

#logoimg {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  filter: invert();
}

.game_container {
  background-image: url(https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgba(98, 159, 161, 0.45);
}
.info {
  font-size: 22px;
}

.game_info {
  padding: 34px;
  font-family: "Baloo Bhaina 2", cursive;
}

.game_info h1 {
  font-size: 1.5rem;
}

.image img {
  width: 0;
  transition: width 1s ease-in-out;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 25px;
  padding: 1px 15px;
  background-color: rgb(37, 29, 8);
  color: rgb(235, 201, 160);
  cursor: pointer;
  border-radius: 10px;
  font-family: "Baloo Bhaina 2", cursive;
  font-weight: bolder;
}

#reset:hover {
  border-radius: 12px;
  background-color: rgb(92, 83, 83);
  color: whitesmoke;
}

.line {
  background-color: black;
  height: 4px;
  width: 0;
  position: absolute;
  transition: width 1s ease-in-out;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: rgb(247, 123, 101);
}

@media screen and (max-width: 950px) {
  body{
    background-size: cover;
    /* background-repeat:round; */
  }
  .game_container {
    flex-wrap: wrap;
  }
  .game_info {
    margin-top: 34px;
  }
  .game_info h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
