@import url("https://fonts.googleapis.com/css2?family=Emblema+One&family=Henny+Penny&family=Roboto+Slab&family=Rubik+Glitch&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://images.pexels.com/photos/1441931/pexels-photo-1441931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

nav {
  background-color: rgb(0, 0, 0);
  color: rgb(247, 123, 101);
  font-size: 25px;
  padding: 5px;
  font-family: "Rubik Glitch", cursive;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#text {
  background: -webkit-linear-gradient(rgb(50, 64, 187), rgb(104, 240, 228));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 40px;
  width: 40px;
}
#back {
  filter: invert(0.8);
  height: 40px;
  width: 40px;
}

#main {
  color: whitesmoke;
  text-align: center;
  height: 560px;
}
#board {
  width: 400px;
  height: 400px;

  background-color: #cdc1b5;
  border: 6px solid #bbaba0;
  margin: 4% auto;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 90px;
  height: 90px;
  border: 5px solid #bbaba0;

  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}

.x4096 {
  background-color: #fe3d3d;
  color: white;
}

.x8192 {
  background-color: #ff2020;
  color: white;
}

@media screen and (max-width: 950px) {
  
  body {
    background-image: url(https://images.pexels.com/photos/1441931/pexels-photo-1441931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }
  
  #main {
    color: whitesmoke;
    text-align: center;
    height: 700px;
  }
  #board {
    width: 380px;
    height: 380px;
  
    background-color: #cdc1b5;
    border: 5px solid #bbaba0;
    margin: 4% auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .tile {
    width: 85px;
    height: 85px;
    border: 5px solid #bbaba0;
  
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Emblema One", cursive;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: rgb(19, 124, 165);
}
